{% extends 'base.html' %}
{% block content %}
    <div class="alert alert-success" role="alert">管理认证成功</div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">薪资管理</h3>
        </div>



        <div class="panel-body">
            <!--数据表开始-->
            <div class="row">
                {% ifequal role 'admin' %}
                    <div class="col-lg-4">
                    <div class="input-group ">
                        <input type="text" id="condition" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="search()">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                    </div>
                {% else %}{% endifequal  %}
                 <a href="/edit_wage">
                    <button class="btn btn-success  col-lg-offset-6 col-lg-1" data-toggle="modal" id="add_btn">添加</button>
                 </a>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>工号</th>
                        <th>部门</th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>手机号</th>
                        <th>邮箱</th>
                        <th>工资</th>
                        {% ifequal role 'admin' %}
                        <th>操作</th>
                        {% else %}{% endifequal  %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for wage1 in wage_list %}
                        <tr>
                            <td>{{ wage1.emp.employeeNum }}</td>
                            <td>
                                {% if wage1.emp.cid %}{{ wage1.emp.cid }}{% else %}{% endif %}
                            </td>
                            <td>{{ wage1.emp.username }}</td>
                            <td>
                                {% if wage1.emp.age %}{{ wage1.emp.age }}{% else %}{% endif %}
                            </td>
                            <td>{{ wage1.emp.phone }}</td>
                            <td>{{ wage1.emp.email }}</td>
                            <td>
                                {% if wage1.wage %}{{ wage1.wage }}{% else %}{% endif %}
                            </td>
                            <td>
                                {% ifequal role 'admin' %}
                                    <a href="/edit_wage?id={{ wage1.id }}" class="btn btn-info"  id="edit_btn">编辑</a>
                                    <a href="/delete_wage?id={{ wage1.id }}" class="btn btn-danger">删除</a>
                                {% else %}{% endifequal  %}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <script>
                $('table').on('click', '#edit_btn', function () {
                    $('#edit_modal #edit_major_id_input').val($(this).prev().text())
                    $('#edit_modal #major_input').val($(this).parent().prev().text())
                })

                function search() {
                    var condition=$("#condition").val();
                    window.location.href="/wageManage?page={{ prev_page }}&condition="+condition;
                }

            </script>
            <!--面板底部开始-->
            <div class="panel-footer">
                <!--分页-->
                <nav aria-label="Page navigation">
                    <ul class="pagination pull-right">
                        <li>
                            <a href="/wageManage?page={{ prev_page }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for num in page_num %}
                        <li><a href="/wageManage?page={{ num }}">{{ num }}</a></li>
                        {% endfor %}
                        <li>
                            <a href="/wageManage?page={{ next_page }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>



{% endblock content %}

{% block sidebar %}
    7
{% endblock sidebar %}